.wrapper{
  width: 100vw;
  max-height: 100vh;
  background-color: blanchedalmond;
  margin: 0 auto;
}

.main{
  margin: 0 auto;
  width: 90%;
}
.meme-wrapper{
  width: 90%;
  margin: 0 auto;
}


.description-wrapper {
  width:100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.meme-wrapper[open] .accordion-icon{
  transform: rotate(45deg);
}
.accordion-icon{
  font: 700 2em/100% 'Monotype',sans-serif;
}



.meme-img {
  width: 90%;
}

details summary {
  list-style: none;
}



